example
src
.idea
.github
.babelrc
.eslintignore
.eslintrc
.gitattributes
.gitignore
.npmignore
.prettierignore
.prettierrc.json
jest.config.js
package-lock.json
rollup.config.js
rollup.example.dev.config.js
rollup.example.prod.config.js
rollup.npm.config.js
tsconfig.eslint.json
tsconfig.json
tsconfig.npm.json
tsconfig.spec.json
