.root {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    padding: 8px;
}

.section {
    margin-bottom: 8px;
}

.input {
    width: 100%;
    height: 350px;
    box-sizing: border-box;
}

.select {
    width: 100%;
    margin: 8px 0;
    font-size: 1rem;
}

.sectionsWrapper {
    flex: 1;
    overflow: auto;
}

.sectionHeader {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 8px;
}

.applyButton {
    width: 100%;
    margin-top: 8px;
}
