:global(#root) {
    height: 100vh;
    font-family: sans-serif;
}

:global(#root *) {
    box-sizing: border-box;
}

.root {
    background: #fff;
    padding: 8px;
    height: 100%;
    display: flex;
}

:root {
    --primary-color: #f1f3f4;
    --secondary-color: #cbcdd1;
}

.sidebar {
    width: 350px;
    overflow: auto;
}

.version {
    padding: 8px;
}
